<div class="container">
    <h1>Estacionamiento</h1>
    <form (ngSubmit)="calcularTotal()">

        <mat-label>Horas:</mat-label>
        <input type="number" matInput class="form-control" id="horas" [(ngModel)]="horas">



        <mat-label>Minutos:</mat-label>
        <input type="number" matInput class="form-control" id="minutos" [(ngModel)]="minutos">


        <button type="submit" mat-raised-button color="primary">Calcular</button>
    </form>

    <div class="total">
        Total: {{total}}
    </div>
</div>