<div class="container">
    <h1>Estacionamiento</h1>
    <form (ngSubmit)="calcularTotal()">

        <mat-label>Horas:</mat-label>
        <input type="text" matInput class="form-control" id="horas" [(ngModel)]="objEstacionamiento.horas">



        <mat-label>Minutos:</mat-label>
        <input type="number" matInput class="form-control" id="minutos" [(ngModel)]="objEstacionamiento.minutos">

        <button type="submit" mat-raised-button color="primary" (click)="calcularTotal">Calcular</button>
    </form>

    <div class="total">
        Total: {{objEstacionamiento.total | currency}}
    </div>
</div>